body {
    margin: 0;
}

* {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    margin: 35px 0;
    font-size: 2.5rem;
}

.navigation {
    text-align: center;
    margin-top: 15px;
}

.navigation a {
    padding: 10px;
    color: black;
    font-size: 1.05rem;
}

.navigation a:hover {
    font-weight: bold;
}

.container-form {
    padding: 30px 0;
    max-width: 1100px;
}

.background-blue {
    background-color: #C6DFE3;
}

.form-container, .container {
    max-width: 900px;
    padding: 10px;
    font-size: 1.2rem;
}

.container, .form-container, .container-form, .container table {
    margin: 0 auto;
}

.form-container label {
    display: block;
}

.input-field {
    width: 70%;
    margin-bottom: 16px;
    padding: 8px;
}

.btn-submit {
    padding: 10px 20px;
    float: right;
}

.input-field, .btn-submit {
    font-size: 1rem;
}

.container table, .container th, .container td{
    border: 1px solid black;
    border-collapse: collapse;
}

.container table {
    width: 100%;
}

.container th, .container td {
    padding: 8px;
}

.container thead tr {
    background-color: #395E63;
    color: white;
}

.container tbody tr {
    background-color: #C6DFE3;
}

.container tbody tr:nth-child(2n){
    background-color: #e7f0f1;
}